@using System.Collections.Generic;
@using TicketingSystem.Models;
@model List<TicketingSystem.Models.TicketData>
@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<partial name="_HeaderNavbar" />

<div class="text-center">
    <h2 class="display-4">Ticket Table</h2>
    <br />
    <br />
</div>
<div>
    <partial name="_TicketTablePartial" />

    <button onclick="location.href='@Url.Action("AllTickets", "Home")'">View All Tickets</button>
    <br />
    <br />
    <button onclick="location.href='@Url.Action("OpenTickets", "Home")'">View Open Tickets</button>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.js"></script>

<script>
    $(document).ready(function () {
        var table = $('#ticketTable').DataTable()
    });</script>

<script>
    function rowClicked(entryId) {
        var id = entryId
        console.log(id)

        $.ajax({
            type: "POST",
            url: '@Url.Action("OpenEntry", "Home")',
            data: { entryID: id },
            success: function () {
                //alert('Success')
            },
            error: function (e) {
                alert('Error')
                console.log(e)
            }
        }).done(function (data) {
            window.location.replace(data.newUrl)
        })

    }

</script>
