
@{
    ViewData["Title"] = "Index";
}

<h1>Reports Home</h1>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/js/report.js"></script>

<div>
    <partial name="_HeaderNavbar" />


    @*<form id="selectReport" class="form-horizontal" asp-action="RunReport" asp-controller="Report">*@
    <div class="form-group" id="reportType">

        <label for="startDate">Enter the Start Date:</label>
        <div>
            <input id="startDate" name="StartDate" type="date" />
        </div>

        <label for="endDate">Enter the End Date:</label>
        <div>
            <input id="endDate" name="EndDate" type="date" />
        </div>

        <label for="reportName">Select Report Type:</label>
        <div>
            <select name="ReportName" id="reportName">
                <option value="0">Labor Hours by Job</option>
                <option value="1">Incentive Report</option>
                <option value="2">Labor Hours by Job and Employee</option>
            </select>
        </div>

        <label for="reportFormat">Select Report Format:</label>
        <div>
            <select name="ReportFormat" id="reportFormat">
                <option value="0">PDF</option>
                <option value="1">CSV</option>
                @*<option value="2">DOCX</option>*@
            </select>
        </div>

        <br />

        <div>
            <div>
                <button type="submit" class="btn-dark" id="subBtn" onclick="getReport()">Submit</button>
            </div>
        </div>
    </div>

    <div hidden id="dialog-message" title="Downloading File">
        <p>
            <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
            Your report is being downloaded
        </p>

    </div>
</div>



