
@{
    ViewData["Title"] = "Index";
}

<h1>Reports Home</h1>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@*<script>
    function validateDate(date) {
        var strArr = date.split("-")
        var year = strArr[0]
        var month = strArr[1]
        var day = strArr[2]

        var now = new Date()
        var daysInMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

        if (year > now.getFullYear()) {
            return false
        }
        if (month < 1 || month > 12) {
            return false
        }
        if (day < 1 || day > daysInMonth[month - 1]) {
            return false
        }
        return true
    }

    function getReport() {

        var startDate = $('#startDate').val()
        var endDate = $('#endDate').val()

        if (validateDate(startDate) && validateDate(endDate)) {
            requestReport(startDate, endDate)
        }
        else {
            alert('Please enter valid dates')
        }

    }

    function requestReport(startDate, endDate) {
        var reportName = $('#reportName').val()
        var reportFormat = $('#reportFormat').val()
        $.ajax({
            type: "POST",
            url: '@Url.Action("RunReport", "Report")',
            data: {
                StartDate: startDate,
                EndDate: endDate,
                ReportName: reportName,
                ReportFormat: reportFormat
            },
            async: true,
            beforeSend: function () {
                document.getElementById('dialog-message').hidden = false
                $("#dialog-message").dialog({
                    modal: true,
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            },
            success: function () {
            },
            error: function (e) {
                alert('Error')
                console.log(e)
            }
        }).done(function (data) {
            var headers = data.content.headers

            var contentType
            var contentDisposition
            var fileName
            var today = new Date()
            for (var i = 0; i < headers.length; i++) {
                if (headers[i].key == 'Content-Type')
                    contentType = headers[i].value[0]
                if (headers[i].key == 'Content-Disposition') {
                    contentDisposition = headers[i].value[0]

                }
            }

            var pos = contentDisposition.search("=")
            fileName = contentDisposition.substring(pos + 2, (contentDisposition.length - 5))

            fileName += "_" + today.getMonth() + "-" + today.getDate() + "-" + today.getFullYear()

            if (contentType == 'application/pdf')
                fileName += ".pdf"
            else if (contentType == 'text/csv; charset=utf-8')
                fileName += ".csv"
            else
                fileType = null

            var byteArray = base64ToArrayBuffer(data.data)
            saveByteArray(fileName, contentType, byteArray)
        })
    }

    function base64ToArrayBuffer(base64) {
        var binString = window.atob(base64)
        var binLen = binString.length
        var bytes = new Uint8Array(binLen)
        for (var i = 0; i < binLen; i++) {
            var ascii = binString.charCodeAt(i)
            bytes[i] = ascii
        }
        return bytes
    }

    function saveByteArray(fileName, contentType, bytes) {
        var blob = new Blob([bytes], { type: contentType })
        var link = document.createElement('a')
        link.href = window.URL.createObjectURL(blob)
        link.download = fileName
        link.click()
    }

</script>*@

<script src="~/js/report.js"></script>

<div>
    <partial name="_HeaderNavbar" />


    @*<form id="selectReport" class="form-horizontal" asp-action="RunReport" asp-controller="Report">*@
    <div class="form-group" id="reportType">

        <label for="startDate">Enter the Start Date:</label>
        <div>
            <input id="startDate" name="StartDate" type="date" />
        </div>

        <label for="endDate">Enter the End Date:</label>
        <div>
            <input id="endDate" name="EndDate" type="date" />
        </div>

        <label for="reportName">Select Report Type:</label>
        <div>
            <select name="ReportName" id="reportName">
                <option value="0">Labor Hours by Job</option>
                <option value="1">Incentive Report</option>
                <option value="2">Labor Hours by Job and Employee</option>
            </select>
        </div>

        <label for="reportFormat">Select Report Format:</label>
        <div>
            <select name="ReportFormat" id="reportFormat">
                <option value="0">PDF</option>
                <option value="1">CSV</option>
                @*<option value="2">DOCX</option>*@
            </select>
        </div>

        <br />

        <div>
            <div>
                <button type="submit" class="btn-dark" id="subBtn" onclick="getReport()">Submit</button>
            </div>
        </div>
    </div>

    <div hidden id="dialog-message" title="Downloading File">
        <p>
            <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
            Your report is being downloaded
        </p>

    </div>
</div>



