@model System.Net.Http.HttpResponseMessage
@{
    Layout = "_Layout";
}

<h1>Your report is downloading</h1>
<body onload="downloadReport()">

</body>

<script>
    function downloadReport() {

    }
</script>
