@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TicketingSystem.Services
@using TicketingSystem.Models 

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="HomePage" class="navbar-brand">Ticketing System</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @{
                    bool showDataEntry = false, showEdit = false, showReport = false, showUserManagement = false;
                    var user = Auth0APIClient.GetUserData(User.Claims.First().Value);
                    List<UserPermission> permissions = Auth0APIClient.GetPermissions(user.user_id);
                    foreach (UserPermission perm in permissions)
                    {
                        if (perm.permission_name == ModelUtility.AccessLevel1)
                        {
                            showDataEntry = true;
                            showEdit = true;
                            showReport = true;
                            showUserManagement = true;
                            break;
                        }
                        if (perm.permission_name == ModelUtility.AccessLevel2)
                        {
                            showDataEntry = true;
                            showEdit = true;
                            showReport = true;
                            showUserManagement = true;
                            break;
                        }
                        if (perm.permission_name == ModelUtility.AccessLevel3)
                        {
                            showReport = true;
                        }
                        if (perm.permission_name == ModelUtility.AccessLevel4)
                        {
                            showDataEntry = true;
                        }
                    }
                    <li><a asp-area="" asp-controller="Home" asp-action="HomePage">Home</a></li>
                    if (showDataEntry)
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="DataEntry">New Entry</a></li>
                    }
                    if (showEdit)
                    {
                        <li><a asp-area="" asp-controller="Edit" asp-action="Index">Edit</a></li>
                    }
                    if (showReport)
                    {
                        <li><a asp-area="" asp-controller="Report" asp-action="Index">Reports</a></li>
                    }
                    if (showUserManagement)
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="UsersHome">User Management</a></li>
                    }
                }


            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                }
            </ul>
        </div>
    </div>
</nav>
