@model TicketingSystem.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<partial name="_HeaderNavbar" />

<h1 class="text-danger">Error: @Model.ErrorCode</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">Reason: @Model.Reason</h2>

@*@if (Model.ShowErrorCode)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.ErrorCode</code>
    </p>
}*@
