

@{
    ViewData["Title"] = "Index";
}

<partial name="_HeaderNavbar" />


<h2>Edit Page</h2>

<div class="form-group" id="entryIdContainer">
    <label class="control-label col-sm-2" for="entryId">Entry ID:</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="entryId">
    </div>
</div>
<br />
<br />

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" onclick="postId()" class="btn-dark" id="subBtn">Submit</button>
    </div>
</div>

<br />
<br />

<div>
    <partial name="_TicketTablePartial" />

</div>

<div hidden id="dialog-message" title="Opening Entry">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        Your record is being opened
    </p>
</div>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@*<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>*@

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#ticketTable').DataTable()
    });</script>

<script>
	function rowClicked(entryId) {

        document.getElementById('dialog-message').hidden = false
        $("#dialog-message").dialog({
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });

		$.ajax({
			type: "POST",
			url: '@Url.Action("GetRecord", "Edit")',
			data: { entryID: entryId },
			success: function () {
				//alert('Success')
			},
			error: function (e) {
				alert('Error')
				console.log(e)
			}
		}).done(function (data) {
			window.location.replace(data.newUrl)
		})
		
	}

</script>


<script>
	function postId() {
		if ($('#entryId').val() == "") {
			alert('Please enter an entry ID')
			return false;
		}

		var id = $('#entryId').val()
		$.ajax({
			type: "POST",
			url: '@Url.Action("GetRecord", "Edit")',
			data: { entryID: id},
			success: function () {
				console.log('success')
			},
			error: function (e) {
				alert('Error')
				console.log(e)
			}
		}).done(function (data) {
			window.location.replace(data.newUrl)
		})
		return true;
	}

</script>


